@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background-color: #1F1B24;
    color: white;
}

#top-splash {
    max-width: 40%;
    height: auto;
    object-fit: cover;
}

#bottom-splash {
    max-height: 75%;
    max-width: 65%;
}

h1, h3, p{
    font-family: 'VT323', monospace;
    font-weight: 600;
    color: #00FF41;
}

input, #blacksum, #whitesum {
    font-family: 'VT323', monospace;
    font-weight: 600;
}

h2,.btn{
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    box-shadow: 0 0 10px inherit;
}

a.btn-info:link {
    background-color: #2de2e6;
    border-color: #2de2e6;
    color: #2E2157;
    box-shadow: 0 0 10px #2de2e6;
}

a.btn-info:hover {
    background-color: #34b0b3;
    border-color: #34b0b3;
}

a.btn-secondary,button.btn-secondary,a.btn.btn-secondary, button.btn.btn-secondary{
    background-color: #023788;
    border-color: #023788;
    box-shadow: 0 0 10px #023788;
}

a.btn-secondary, button.btn-secondary,a.btn.btn-secondary,button.btn.btn-secondary:hover {
    background-color: #012150;
    border-color: #012150;
}

#messages {
    min-height: 7em;
    max-height: 7em;
    overflow-y: auto;
}

table#game_board td{
    margin:auto;
    border-style: solid;
    border-width: 1px;
    border-color: #620cd3;
}

td.hovered_over:hover {
    background:url('../images/hover.gif');
    background-size: 100% 100%;
}

td {
    width: 64px;
    height: 64px;
}
