@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
    background-color: #1F1B24;
    color: white;
}

img {
    max-width: 60%;
    height: auto;
    object-fit: cover;
}

#bottom-splash {
    max-height: 75%;
    max-width: 65%;
}

h2{
    font-family: 'Audiowide', cursive;
    font-weight: 600;
}

.btn, input, h3, p{
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
}

a.btn-info:link {
    background-color: #2de2e6;
    border-color: #2de2e6;
    color: #2E2157;
    box-shadow: 0 0 10px #2de2e6;
}

a.btn-info:hover {
    background-color: #34b0b3;
    border-color: #34b0b3;
}

a.btn-secondary,button.btn-secondary {
    background-color: #023788;
    border-color: #023788;
    box-shadow: 0 0 10px #023788;
}

a.btn-secondary, button.btn-secondary:hover {
    background-color: #012150;
    border-color: #012150;
}

table#game_board td{
    margin:auto;
    border-style: solid;
    border-width: 1px;
    border-color: #620cd3;
}

td.hovered_over:hover {
    background:url('../images/hover.gif');
    background-size: 100% 100%;
}